{% extends 'base.html.twig' %}

{% block title %}AddSneakers{% endblock %}

{% block body %}

    <h2>AddSneakers.</h2>

    {% if errors is not empty %}
        <div class="alert alert-danger">{{ errors|raw }}</div>
    {% elseif success == true %}
        <div class="alert alert-success">Sneaker added !</div>
    {% endif %}

    <form method="post" class="col-8">

        <div class="form-group">
            <label for="sku" class="col-2 col-form-label">SKU</label>
            <input type="text" name="sku" id="sku" class="form-control" value="">
        </div>

        <div class="form-group">
            <label for="brand" class="col-2 col-form-label">Brand</label>
            <select name="brand" id="brand" class="form-control">
                <option selected>-- Select a brand --</option>
                {% for key, brand in sneakerBrands %}
                    <option value="{{ key }}">{{ brand }}</option>
                {% endfor %};
            </select>
        </div>

        <div class="form-group">
            <label for="name" class="col-2 col-form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="">
        </div>

        <div class="form-group">
            <label for="cwsurname" class="col-2 col-form-label">CW/Surname</label>
            <input type="text" name="cwsurname" id="cwsurname" class="form-control" value="">
        </div>

        <div class="form-group">
            <label for="sex" class="col-2 col-form-label">Sex</label>
            <select name="sex" id="sex" class="form-control">
                <option selected>-- Select sex --</option>
                <option>Woman</option>
                <option>Man</option>
                <option>Unisex</option>
            </select>
        </div>

        <div class="form-group">
            <label class="col-md-3" for="picture1">Picture 1 :</label>
            <input class="col-md-9" type="file" name="picture1" id="picture1" accept="image/*">
        </div>
        <div class="form-group">
            <label class="col-md-3" for="picture2">Picture 2 :</label>
            <input class="col-md-9" type="file" name="picture2" id="picture2" accept="image/*">
        </div>
        <div class="form-group">
            <label class="col-md-3" for="picture3">Picture 3 :</label>
            <input class="col-md-9" type="file" name="picture3" id="picture3" accept="image/*">
        </div>

        <div class="">
            {% for key, size in sneakerSizes %}
                <div class="form-group">
                    <label for="size" class="col-2 col-form-label">{{ size }}</label>
                    <input id="size" name="size" value="{{ key }}" type="checkbox">
                </div>
                <div class="form-group">
                    <label for="price" class="col-2 col-form-label">Price</label>
                    <input type="number" id="price" name="quantity" min="1" max="50000">
                </div>
                <div class="form-group">
                    <label for="quantity" class="col-2 col-form-label">Quantity</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="100">
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-lg btn-primary">Add Sneaker</button>

    </form>

{% endblock %}
